@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Fira Sans", serif; */

.hero{
    width: 1280px;
    
    border-radius: 24px;

background: rgb(198, 228, 214);
display: flex;
justify-content: center;
align-items: center;
gap: 64px;
padding: 80px 100px 80px 100px;

margin: 80px 160px 80px 160px;
}


.hero .hero-content .subtitle{
    color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left; 
margin-bottom: 16px;


}
.hero .hero-content .title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 24px;
}
.hero .hero-content button{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;

background: rgb(0, 106, 80);
border: 0;
width: 270px;
height: 56px;
padding: 17px 34px 17px 34px;

}
.hero-content{
    width: 622px;
    height: 326px;
}
/* style for second part (card box)*/
.second-part{
    width: 1280px;
    height: 765px;
    margin: 80px 160px 80px 160px;
}
.second-part .heading{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.second-part .description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 32px;
}
.card{
    
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 24;
padding: 0px;



}
/* for card-1 */
.second-part .card .card-1{
    box-sizing: border-box;
border-radius: 16px;

background: rgba(84, 144, 245, 0.2);
padding: 32px;
margin:0 24px;
}
.second-part .card .card-1 .digit{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.second-part .card .card-1 .creating{
  color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.second-part .card .card-1 button{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
    border-radius: 8px;

background: rgb(84, 144, 245);

padding: 11px 20px 11px 20px;
}
/* for card -2 */
.second-part .card .card-2{
    box-sizing: border-box;
    border-radius: 16px;
    
    background: rgb(198, 228, 214);
    margin: 0 24px;
     
    
    padding: 32px;
    }
    .second-part .card .card-2 .green{
        color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
    }
    .second-part .card .card-2 .invest{
        color: rgba(14, 14, 14, 0.7);
        font-family: Fira Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
    }
    .second-part .card-2 button{
        color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;

background: rgb(9, 161, 92);
padding: 11px 20px 11px 20px;

    
    }

    /* for card-3 */
    .second-part .card .card-3{
        box-sizing: border-box;
border-radius: 16px;

background: rgb(247, 235, 207);
         
        
        padding: 32px;
        }
        .second-part .card .card-3 .modern{
            color: rgba(14, 14, 14, 0.8);
            font-family: Fira Sans;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: left;
        }
        .second-part .card .card-3{
            color: rgba(14, 14, 14, 0.7);
            font-family: Fira Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: left;
        }
        .second-part .card-3 button{
            color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;

background: rgb(255, 194, 57);
    padding: 11px 20px 11px 20px;
    
        
        }

   .second-part  .quotation{
        background-image: url(../assets/quote-bg.png);
    
        box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background-color: rgb(255, 255, 255);
padding: 48px 24px 48px 24px;
margin-top: 32px;
background-position:top;
background-position-x: left;

background-repeat: no-repeat;

    }
    .second-part .quotation .money{
        color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 12px;
    } 
    .second-part .quotation .dr{
        color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 4px;
        
    }
    .second-part .quotation .chief{
        color: rgba(14, 14, 14, 0.6);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
    }

/* style for new box */
.news{
    width: 1280px;
    margin: 80px 160px 80px 160px;
    
}
    .news .news-box .recent{
        color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 24px;
    }
    .news .news-box .bangladesh{
        color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 32px;
    }

    /* for recent news box */
    .news-container{
        
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: flex-start;
        align-items: center;
        padding: 48px;
        border-radius: 24px;

background: rgb(255, 255, 255);
        
    }
    .news-container .sat-img{
    width: 408px;
    height: 306px;
        border-radius: 24px;

    }
    .news-container .content .bangla{
        color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
    }
 .al-jazeera{
        width: 134px;
        height: 40px;
        margin-top: 12px; margin-bottom: 12px;
    }
    .news-container .content .date{
        display: flex;
        gap: 12px;
        color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

        
    }
    .news-container .content .not{
        color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top: 12px;
width: 744px;

    }
    .news-container .content button{
        color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;
padding: 13px 26px 13px 26px;
background-color: rgb(0, 106, 80);




    }
/* for new container 2 */
.news-container-2{
        
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
    padding: 48px;
    border-radius: 24px;

background: rgb(255, 255, 255);

    
}

.news-container-2 .sat-img-2{
width: 408px;
height: 306px;
    border-radius: 24px;

}
.news-container-2 .content-2 .bangla-2{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}
.al-jazeera-2{
    width: 134px;
    height: 40px;
    margin-top: 12px; margin-bottom: 12px;
}
.news-container-2 .content-2 .date-2{
    display: flex;
    gap: 12px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

    
}
.news-container-2 .content-2 .not-2{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top: 12px;
width: 744px;

}
.news-container-2 .content-2 button{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;
padding: 13px 26px 13px 26px;
background-color: rgb(0, 106, 80);

}
/* for donate section */
.contribution{
    width: 1280px;
    margin: 80px 160px 80px 160px;
    
}

.contribution .offer .donate{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
.contribution .offer .bangladesh-2{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;}
.contribution .amount{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.contribution .amount .one{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
padding: 40px;
}
.contribution .amount .two{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;


background: rgb(198, 228, 214);
padding: 40px;

}
.contribution .amount .three{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
padding: 40px;


}
.contribution .amount .four{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
padding: 40px;


}
.contribution .other{
    color: rgba(14, 14, 14, 0.3);
font-family: Fira Sans;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;

box-sizing: border-box;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
padding: 20px 40px 20px 40px;
margin: 32px 0;
text-align: center;
}
.contribution button{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;

box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;

background-color: rgb(0, 106, 80);
padding: 17px 34px 17px 34px;
margin-left: 0;
margin-right: 0;

}
/* for last part */
.last-part{
    width: 1280px;
    padding: 80px 100px 80px 100px;
    margin: 80px 0;
    border-radius: 24px;

    background-color: rgb(198, 228, 214); 
    justify-content: center;
    align-items: center;
}
.last-part .sub{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.last-part .ban{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;

}
.last-part .subscribe email {border-radius: 8px 0px 0px 8px;

    background: rgb(255, 255, 255);
    padding: 18px 40px 18px 40px;
    width: 600px;

}

.last-part .we{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
    
}
.footer p{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;

}
.end{
    
text-align: center;
}